{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form-section">
                <form method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                    {{form|crispy}}
                <input id="create-chat" type="submit" value="send chat"/>
                </form>
            </div>
            <div class="message-section">
                {% for instance in chats %}
                    <hr >
                        <a href="{% url 'chat:detail'  instance.uid %}"><h2 class="text-center">{{ instance.title }}</h2></a>
                        <div class="text-center">
                            <p>{{ instance.content }}</p>
                            <p>{{ instance.timestamp }}</p>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

